.ld-header {
    &-section {
        padding: toRem(24) 0;
        background-color: $title-text;
        border-bottom: toRem(1) solid $white-stroke;
        &-two {
            @media screen and (min-width: 992px) {
                border-bottom: none;
            }
            background-color: $white;
        }
        &-three {
            @media screen and (min-width: 992px) {
                border-bottom: none;
            }
            background-color: $frame;
        }
        &.sticky-on {
            top: 0;
            width: 100%;
            z-index: 20;
            position: fixed;
            animation-duration: 0.7s;
            animation-fill-mode: both;
            animation-name: fadeInDown;
            animation-timing-function: ease;
            box-shadow: 0 0.1875rem 1.125rem rgba(2, 21, 78, 0.09);
            transition: 0.3s all ease-in-out;
        }
    }
    &-inner {
        position: relative;
        background-color: transparent;
        &.sticky-on {
            background-color: $title-text;
        }
    }
    &-logo {
        display: inline-block;
        max-width: toRem(196);
    }
}

.menu {
    &-dropdown-toggle {
        &::after {
            background-image: url(../images/icon/arrow-down-header.svg);
            border: none;
            background-size: toRem(12);
            width: toRem(12);
            height: toRem(7);
            background-repeat: no-repeat;
            position: absolute;
            top: toRem(10);
            @media screen and (max-width: 991px) {
                background-image: url(../images/icon/arrow-down-header-white.svg);
            }
        }
        ~ .dropdown-menu {
            border: none;
            li {
                padding-bottom: toRem(10);
                &:last-child {
                    padding-bottom: 0;
                }
                a {
                    padding: 0;
                    @include fontFamily(16, $fw_medium, 26, $title-text);
                    display: flex;
                    align-items: center;
                    gap: toRem(10);
                    @media screen and (max-width: 991px) {
                        @include fontFamily(18, $fw_medium, 28, $white);
                    }
                    &:hover,
                    &.active {
                        background-color: transparent;
                        color: $button !important;
                    }
                }
            }
            @media screen and (min-width: 992px) {
                display: block;
                top: 40px;
                border: toRem(1) solid $black-stroke;
                border-radius: toRem(5);
                opacity: 0;
                visibility: hidden;
                margin-top: 0;
                padding: 15px;
                box-shadow: 5px 5px 25px 0px #3940481a;
                transition: all 0.3s ease-in;
            }
            @media screen and (max-width: 991px) {
                border-radius: 0;
                background-color: $button;
                padding-left: toRem(20);
            }
            li {
                position: relative;
                a {
                    position: relative;
                }
            }
        }
    }
    &-navbar-nav {
        li {
            .nav-link {
                @media screen and (max-width: 991px) {
                    color: $white !important;
                }
                transition: all 0.3s;
                &:hover,
                &.active {
                    @media screen and (min-width: 992px) {
                        color: $button !important;
                    }
                }
            }
            &:hover {
                .dropdown-toggle {
                    ~ .dropdown-menu {
                        @media screen and (min-width: 992px) {
                            opacity: 1;
                            visibility: visible;
                            top: 30px;
                        }
                    }
                }
            }
            &:has(.dropdown-item.active) {
                .dropdown-toggle {
                    color: $button !important;
                }
            }
        }
        &-two {
            li {
                .nav-link {
                    color: $title-text !important;
                    @media screen and (max-width: 991px) {
                        color: $white !important;
                    }
                }
            }
        }
    }
    &-navbar-collapse {
        @media screen and (max-width: 991px) {
            background-color: $button;
            padding: toRem(40) toRem(30);
            height: 100vh;
        }
    }
}
.menu-navbar-toggler {
    border-color: $button;
    color: $button;
}
